body {
  margin: 0;
  display: flex;
  color: var(--rich-black);
}

aside {
  height: 100vh;
  position: fixed;
  color: var(--white);
  transition: width 0.3s; /* Adiciona uma transição suave para a largura */
}

/* Estilo para o link do menu ativo */
aside a.active {
  background-color: var(--savoy-blue);
}

.toggle-container {
  width: 100%;
  padding: 25px;
  background-color: var(--federal-blue);
}

#menuToggle {
  display: none; /* Esconde o checkbox */
}

#menuIcon {
  cursor: pointer;
  font-size: 26px;
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave para a transformação */
}

#menuOptions {
  height: 100%;
  list-style: none;
  background-color: var(--medium-blue);
}

#menuOptions li {
  position: relative;
}

#menuOptions li .tooltip {
  display: none;
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translate(0, -50%);
  background-color: var(--white-flash);
  color: var(--darvy-gray);
  padding: 10px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

#menuOptions li:hover .tooltip {
  display: block;
}

.menu-open #menuOptions li .tooltip {
  display: none;
}

#menuOptions li a {
  padding: 25px;
  color: var(--white);
  display: flex;
  opacity: 1;
}

#menuOptions li a:hover {
  opacity: 1;
  /* background-color: var(--savoy-blue); */
}

#menuOptions .menu-item-label {
  opacity: 0;
  color: var(--white);
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
  position: absolute;
  left: -200%; /* Inicia fora da tela */
}

aside.menu-open #menuOptions .menu-item-label {
  opacity: 1;
  left: 22%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}


.header {
  height: 84.4px; /*mesmo tamanho do toogle do aside*/
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 2px 2px 0px #1b131325;
}

#menu-inicial {
  padding: 50px;
  background-color: yellowgreen;
}

#contratacoes {
  padding: 50px;
  background-color: rgb(205, 107, 50);
}

#dados-pessoais {
  padding: 50px;
  background-color: rgb(50, 66, 205);
}

#portfolio {
  padding: 50px;
  background-color: rgb(205, 50, 166);
}

#configuracoes {
  padding: 50px;
  background-color: rgb(205, 50, 50);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 74px;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto; /* Adiciona uma barra de rolagem quando o conteúdo for maior que a tela */
}

section {
  flex: 1;
}
