/* import da fonte outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* cores do projeto */
:root {
  /*cores principais */
  --rich-black: #00091d; /*font escura*/
  --federal-blue: #1e1a56;
  --medium-blue: #7475d2;
  --white: #ffffff;
  /* cores auxiliares */
  --light-coral: #f46d6d;
  --savoy-blue: #6264d1;
  --darvy-gray: #5c5d5e;
  --french-gray: #adb1b8;
  --white-flash: #f5f6f7; /*destaque no branco*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  overflow-x: hidden;
  color: var(--rich-black);
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 150%;
}

h3 {
  font-size: 26px;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--federal-blue);
  color: var(--white);
  transition: 0.3s all;
  /* verificar tamanho de botões */
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--medium-blue);
}

.small-btn {
  width: 150px;
}

.normal-btn {
  width: 250px;
}

.delete-btn{
  background-color: var(--light-coral);
}

.delete-btn:hover{
  background-color: #f14d4d;
}

.outline-btn {
  background-color: transparent;
  border: solid 2px var(--federal-blue);
  color: var(--rich-black);
}

.outline-btn:hover {
  background-color: var(--federal-blue);
  color: var(--white);
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}
